/*--------------------------------------------------------------------
 * Video
 *------------------------------------------------------------------*/

.smokesgiving-video {
  object-fit: cover;
  width: 100vw;
  height: 65vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  @media (max-width: $width-md) {
    height: 50vh;
  }
}

.header {
  position: relative;
  height: 65vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: $width-md) {
    height: 50vh;
  }


  .smokesgiving-logo {
    width: 80vw;
  }
}

.video-container {
  position: relative;
}